[Unit]
Description=JupyterHub
After=syslog.target network.target

[Service]
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/opt/jupyterhub/venv/bin"
ExecStart=/opt/jupyterhub/venv/bin/jupyterhub --ip=0.0.0.0 --port=8000 --no-ssl

[Install]
WantedBy=multi-user.target